<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="navCtrl.lastNavId === 1"></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mes annonces</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar #input
    placeholder="Nom"
    animated
    autocomplete="on"
    showCancelButton="focus"
    (ionChange)="onUserJobOfferChange(input.value)"
    (ionCancel)="onUserJobOfferCancel()"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Rafraichir"
      refreshingSpinner="circles"
      refreshingText="Refresh...">
    </ion-refresher-content>
  </ion-refresher>
  
  <div *ngIf="userJobOffers">
    <ion-list>
      <ion-item *ngFor="let userJobOffer of userJobOffers" (click)="navUserJobOfferDetail(userJobOffer.jobOffer.id)">
        <ion-avatar slot="start">
          <ion-img *ngIf="userJobOffer.jobOffer.company.image && userJobOffer.jobOffer.company.image.startsWith('http')" [src]="userJobOffer.jobOffer.company.image"></ion-img>
          <ion-img *ngIf="userJobOffer.jobOffer.company.image && !userJobOffer.jobOffer.company.image.startsWith('http')" src="/assets/company/profile/{{ userJobOffer.jobOffer.company.image }}"></ion-img>    
        </ion-avatar>
        <ion-label>
          <ion-text color="primary"><h2>{{ userJobOffer.jobOffer.title }}</h2></ion-text>
          <ion-text><p>{{ userJobOffer.jobOffer.description }}</p></ion-text>
        </ion-label>
        <ion-icon name="arrow-round-forward" slot="end"></ion-icon>
      </ion-item>
      <ion-item *ngIf="userJobOffers.length === 0">
        <ion-icon slot="start" name="sad" color="primary"></ion-icon>
        <ion-label>Vous n'avez postulé à aucune annonce.</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
  