<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title>Sélectionner un établissement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="companies" class="ion-padding">
    <ion-list>
      <ion-item *ngFor="let company of companies" (click)="dismissCompany(company)">
        <ion-avatar slot="start">
          <ion-img *ngIf="company.image && company.image.startsWith('http')" [src]="company.image"></ion-img>
          <ion-img *ngIf="company.image && !company.image.startsWith('http')" src="/assets/company/profile/{{ company.image }}"></ion-img>
        </ion-avatar>
        <ion-label>
          <ion-text color="primary"><h2>{{ company.name }}</h2></ion-text>
          <ion-text><p>{{ company.description }}</p></ion-text>
        </ion-label>
        <ion-icon name="arrow-round-forward" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>