<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="navCtrl.lastNavId === 1"></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="company">{{ company.name }}</ion-title>
  </ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button href="#detail" value="detail" checked>
      <ion-icon name="menu"></ion-icon>
    </ion-segment-button>
    <ion-segment-button href="#avis" value="avis">
      <ion-icon name="star"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content class="ion-padding" *ngIf="company">
  <div id="detail" *ngIf="segment === 'detail'">
    <ion-img *ngIf="company.image && company.image.startsWith('http')" [src]="company.image"></ion-img>
    <ion-img *ngIf="company.image && !company.image.startsWith('http')" src="/assets/company/profile/{{ company.image }}"></ion-img>
    <ion-text color="primary"><h2>{{ company.name }}</h2></ion-text>
    <p>{{ company.description }}</p>

    <ion-list>
      <ion-item *ngIf="company.address">
        <ion-label *ngIf="company.address || company.zip || company.city">
          <ion-text color="primary"><p>Adresse</p></ion-text>
          <h3 *ngIf="company.address">{{ company.address }}</h3>
          <h3 *ngIf="company.zip">{{ company.zip }}</h3>
          <h3 *ngIf="company.city">{{ company.city }}</h3>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="company.phone">
        <ion-label>
          <ion-text color="primary"><p>Téléphone</p></ion-text>
          <h3>{{ company.phone }}</h3>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="company.email">
        <ion-label>
          <ion-text color="primary"><p>Email</p></ion-text>
          <h3>{{ company.email }}</h3>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="company.theme">
        <ion-label>
          <ion-text color="primary"><p>Thème</p></ion-text>
          <h3>{{ company.theme }}</h3>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="company.website">
        <ion-label>
          <ion-text color="primary"><p>Web</p></ion-text>
          <h3>{{ company.website }}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div id="avis" *ngIf="segment === 'avis'">
    <div *ngIf="rates">
      <ion-card *ngFor="let rate of rates">
        <ion-item>
          <ion-icon name="star" slot="start" color="warning"></ion-icon>
          <ion-label>{{ rate.rate }} / 5</ion-label>
          <ion-label slot="end">{{ rate.user.firstname }} {{ rate.user.lastname }}</ion-label>
        </ion-item>
      
        <ion-card-content *ngIf="rate.comment">{{ rate.comment }}</ion-card-content>
      </ion-card>
      <ion-item *ngIf="rates.length === 0">
        <ion-icon slot="start" name="sad" color="primary"></ion-icon>
        <ion-label>Il n'y a pas encore d'avis pour cet établissement.</ion-label>
      </ion-item>
    </div>
  </div>
</ion-content>
