<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="navCtrl.lastNavId === 1"></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="jobOffer">{{ jobOffer.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="jobOffer">      
    <ion-text color="primary"><h2>{{ jobOffer.title }}</h2></ion-text>
    <p>{{ jobOffer.description }}</p>

    <ion-list>
      <ion-item *ngIf="jobOffer.description">
        <ion-label>
          <ion-text color="primary"><p>Description</p></ion-text>
          <h3>{{ jobOffer.description }}</h3>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="jobOffer.hourlyWadge">
        <ion-label>
          <ion-text color="primary"><p>Salaire horaire</p></ion-text>
          <h3>{{ jobOffer.hourlyWadge }} € /h</h3>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="jobOffer.city">
        <ion-label>
          <ion-text color="primary"><p>Ville</p></ion-text>
          <h3>{{ jobOffer.city }}</h3>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list class="ion-margin-top" *ngIf="jobOffer.company" (click)="navCompanyDetail(jobOffer.company.id)">
      <ion-list-header>
        <ion-label><ion-text color="primary ion-text-uppercase">{{ jobOffer.company.companyType.label }}</ion-text></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img *ngIf="jobOffer.company.image && jobOffer.company.image.startsWith('http')" [src]="jobOffer.company.image"></ion-img>
          <ion-img *ngIf="jobOffer.company.image && !jobOffer.company.image.startsWith('http')" src="/assets/company/profile/{{ jobOffer.company.image }}"></ion-img>      
        </ion-avatar>
        <ion-label *ngIf="jobOffer.company.name">
          <ion-text color="primary"><p>Nom</p></ion-text>
          <h3>{{ jobOffer.company.name }}</h3>
        </ion-label>
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-button class="ion-float-right ion-margin-top" color="primary" (click)="applyJobOffer(jobOffer)">
      <ion-text>Postuler</ion-text>
    </ion-button>
  </div>
</ion-content>
