<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="navCtrl.lastNavId === 1"></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ajouter un établissement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <form [formGroup]="addCompanyForm" (ngSubmit)="onSubmit(addCompanyForm)">
      <ion-item>
        <ion-label position="floating"><ion-text color="primary">Nom</ion-text></ion-label>
        <ion-input clearInput required formControlName="name"></ion-input>
      </ion-item>

      <ion-item *ngIf="companyTypes">
        <ion-label position="floating"><ion-text color="primary">Type</ion-text></ion-label>
        <ion-select companyType="number" clearInput required formControlName="companyType">
          <ion-select-option *ngFor="let companyType of companyTypes" [value]="companyType.id">{{ companyType.label }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item (click)="presentAddressModal()">
        <ion-label position="floating"><ion-text color="primary">Adresse</ion-text></ion-label>
        <ion-input clearInput required formControlName="address"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"><ion-text color="primary">CP</ion-text></ion-label>
        <ion-input clearInput required formControlName="zip"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"><ion-text color="primary">Ville</ion-text></ion-label>
        <ion-input clearInput required formControlName="city"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"><ion-text color="primary">Theme</ion-text></ion-label>
        <ion-input clearInput formControlName="theme"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"><ion-text color="primary">Téléphone</ion-text></ion-label>
        <ion-input clearInput formControlName="phone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"><ion-text color="primary">Email</ion-text></ion-label>
        <ion-input clearInput formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"><ion-text color="primary">Site web</ion-text></ion-label>
        <ion-input clearInput formControlName="website"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"><ion-text color="primary">Description</ion-text></ion-label>
        <ion-textarea clearInput formControlName="description"></ion-textarea>
      </ion-item>
    
      <div class="ion-text-center ion-margin-top">
        <ion-button type="submit" [disabled]="!addCompanyForm.valid">
          <ion-icon name="send" class="ion-margin-end"></ion-icon>
          Ajouter
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
