<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="navCtrl.lastNavId === 1"></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">  
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">    
    <ion-item>
      <ion-label position="floating"><ion-text color="primary">Nom</ion-text></ion-label>
      <ion-input clearInput required formControlName="lastname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"><ion-text color="primary">Prénom</ion-text></ion-label>
      <ion-input clearInput required formControlName="firstname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"><ion-text color="primary">Email</ion-text></ion-label>
      <ion-input clearInput required formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"><ion-text color="primary">Mot de passe</ion-text></ion-label>
      <ion-input clearInput required type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"><ion-text color="primary">Téléphone</ion-text></ion-label>
      <ion-input clearInput formControlName="phone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"><ion-text color="primary">Adresse</ion-text></ion-label>
      <ion-input clearInput formControlName="address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"><ion-text color="primary">CP</ion-text></ion-label>
      <ion-input clearInput formControlName="zip"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"><ion-text color="primary">Ville</ion-text></ion-label>
      <ion-input clearInput formControlName="city"></ion-input>
    </ion-item>
  
    <div class="ion-text-center ion-margin-top">
      <ion-button type="submit" [disabled]="!registerForm.valid">
        <ion-icon name="send" class="ion-margin-end"></ion-icon>
        Inscription
      </ion-button>
    </div>
  </form>
</ion-content>
