<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="navCtrl.lastNavId === 1"></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="user">
    <ion-list>
      <ion-item>
        <ion-avatar class="item-avatar" slot="start">
          <ion-img *ngIf="user.image && user.image.startsWith('http')" [src]="user.image"></ion-img>
          <ion-img *ngIf="user.image && !user.image.startsWith('http')" src="/assets/user/profile/{{ user.image }}"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{ user.lastname }} {{ user.firstname }}</h2>
          <p>{{ user.email }}</p>
        </ion-label>
      </ion-item>

      <ion-item (click)="navNoWhere()">
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>Modifier mon email</ion-label>
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-item>

      <ion-item (click)="navNoWhere()">
        <ion-icon name="lock" slot="start"></ion-icon>
        <ion-label>Changer mon mot de passe</ion-label>
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-item>

      <ion-item (click)="navNoWhere()">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Informations personnelles</ion-label>
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-label><ion-text color="primary ion-text-uppercase">Application</ion-text></ion-label>
      </ion-list-header>

      <ion-item (click)="navNoWhere()">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Établissements favoris</ion-label>
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-item>      
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
