<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="navCtrl.lastNavId === 1"></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Paramètres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="user">
    <ion-list>
      <ion-item>
        <ion-avatar class="item-avatar" slot="start">
          <ion-img *ngIf="user.image && user.image.startsWith('http')" [src]="user.image"></ion-img>
          <ion-img *ngIf="user.image && !user.image.startsWith('http')" src="/assets/user/profile/{{ user.image }}"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{ user.lastname }} {{ user.firstname }}</h2>
          <p>{{ user.email }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item (click)="navProfile()">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Gérer mon compte</ion-label>
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-item>

      <ion-item (click)="navProfile()">
        <ion-icon name="notifications" slot="start"></ion-icon>
        <ion-label>Gérer mes notifications</ion-label>
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-item>

      <ion-item (click)="navProfile()">
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>Gérer mes emails</ion-label>
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
