<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Définir une adresse</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar #input
    placeholder="Nom"
    animated
    autocomplete="on"
    showCancelButton="focus"
    (ionChange)="onAddressChange(input.value)"
    (ionCancel)="onAddressCancel()"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list *ngIf="addresses">
      <ion-item *ngFor="let address of addresses" (click)="dismissAddress(address)">
        <ion-label>
          <h2>{{ address.display_name }}</h2>
        </ion-label>
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>