<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Tableau de bord
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navProfile()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="danger">3</ion-badge>
      </ion-button>
      <ion-button (click)="navProfile()">
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment (ionChange)="dashboardToggleChanged($event)" color="primary">
      <ion-segment-button href="#employee" value="employee" [checked]="userSrvc.dashboardToggle === 'employee'">
        <ion-label>Extras</ion-label>
      </ion-segment-button>
      <ion-segment-button href="#employer" value="employer" [checked]="userSrvc.dashboardToggle === 'employer'">
        <ion-label>Patron</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding ion-text-center">
    <div id="employee" *ngIf="userSrvc.dashboardToggle === 'employee'">
      <ion-row>
        <ion-col>
          <ion-button shape="round" size="large" color="primary" (click)="navPage('list-job-offers')">
            <ion-icon name="search"></ion-icon>
          </ion-button>
          <p><ion-text>Chercher une annonce</ion-text></p>
        </ion-col>
        <ion-col>
          <ion-button shape="round" size="large" color="primary" (click)="navPage('user-job-offers')">
            <ion-icon name="paper"></ion-icon>
          </ion-button>
          <p><ion-text>Mes annonces</ion-text></p>
        </ion-col>
      </ion-row>
    </div>

    <div id="employer" *ngIf="userSrvc.dashboardToggle === 'employer'">
      <ion-row>
        <ion-col>
          <ion-button shape="round" size="large" color="tertiary" (click)="navPage('user-companies')">
            <ion-icon name="restaurant"></ion-icon>
          </ion-button>
          <p><ion-text>Mes établissements</ion-text></p>
        </ion-col>
        <ion-col>
          <ion-button shape="round" size="large" color="tertiary" (click)="navPage('add-job-offer')">
            <ion-icon name="add"></ion-icon>
          </ion-button>
          <p><ion-text>Poster une annonce</ion-text></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button shape="round" size="large" color="tertiary" (click)="navPage('employer-job-offers')">
            <ion-icon name="paper"></ion-icon>
          </ion-button>
          <p><ion-text>Suivre mes annonces</ion-text></p>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
