<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar color="light">
          <!-- <ion-item *ngIf="!userSrvc.user" lines="none"> -->
          <ion-item lines="none">
            <ion-title>Menu</ion-title>
          </ion-item>
          <!-- <ion-item *ngIf="userSrvc.user" class="ion-text-center" lines="none">
            <ion-avatar slot="start">
              <img [src]="userSrvc.user.image">
            </ion-avatar>
            <ion-title>{{ userSrvc.user.lastname }} {{ userSrvc.user.firstname }}</ion-title>
          </ion-item> -->
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon" color="medium"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
