<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
      <ion-menu-button *ngIf="navCtrl.lastNavId === 1"></ion-menu-button>
      <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Liste des annonces</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Rafraichir"
      refreshingSpinner="circles"
      refreshingText="Refresh...">
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-list>
    <ion-item *ngFor="let jobOffer of jobOffers" (click)="navJobOfferDetail(jobOffer.id)">
      <ion-avatar slot="start">
        <ion-img *ngIf="jobOffer.company.image && jobOffer.company.image.startsWith('http')" [src]="jobOffer.company.image"></ion-img>
        <ion-img *ngIf="jobOffer.company.image && !jobOffer.company.image.startsWith('http')" src="/assets/company/profile/{{ jobOffer.company.image }}"></ion-img>    
      </ion-avatar>
      <ion-label>
        <ion-text color="primary"><h2>{{ jobOffer.title }}</h2></ion-text>
        <ion-text><p>{{ jobOffer.description }}</p></ion-text>
      </ion-label>
      <ion-icon name="arrow-round-forward" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
