<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="navCtrl.lastNavId === 1"></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ajouter une annonce</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">  
  <form [formGroup]="addJobOfferForm" (ngSubmit)="onSubmit(addJobOfferForm)">
    <ion-item (click)="presentUserCompaniesModal()">
      <ion-label position="floating"><ion-text color="primary">Établissement</ion-text></ion-label>
      <ion-avatar *ngIf="company" slot="start">
        <ion-img *ngIf="company.image && company.image.startsWith('http')" [src]="company.image"></ion-img>
        <ion-img *ngIf="company.image && !company.image.startsWith('http')" src="/assets/company/profile/{{ company.image }}"></ion-img>
      </ion-avatar>
      <p *ngIf="company">{{ company.name }}</p>
      <ion-input type="hidden" class="ion-hide" clearInput required formControlName="company"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating"><ion-text color="primary">Intitulé de poste</ion-text></ion-label>
      <ion-input clearInput required formControlName="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"><ion-text color="primary">Salaire horaire</ion-text></ion-label>
      <ion-input type="number" step="0.1" clearInput required formControlName="hourlyWadge"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"><ion-text color="primary">Description</ion-text></ion-label>
      <ion-textarea clearInput formControlName="description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating"><ion-text color="primary">Ville</ion-text></ion-label>
      <ion-input clearInput required formControlName="city"></ion-input>
    </ion-item>
  
    <div class="ion-text-center ion-margin-top">
      <ion-button type="submit" [disabled]="!addJobOfferForm.valid">
        <ion-icon name="send" class="ion-margin-end"></ion-icon>
        Ajouter
      </ion-button>
    </div>
  </form>
</ion-content>
