<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="navCtrl.lastNavId === 1"></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="jobOffer">{{ jobOffer.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="addUserJobOfferForm" (ngSubmit)="onSubmit(addUserJobOfferForm)">
    <ion-item>
      <ion-label position="floating"><ion-text color="primary">Commentaire</ion-text></ion-label>
      <ion-textarea clearInput formControlName="comment"></ion-textarea>
    </ion-item>
  
    <div class="ion-text-center ion-margin-top">
      <ion-button type="submit" [disabled]="!addUserJobOfferForm.valid">
        <ion-icon name="send" class="ion-margin-end"></ion-icon>
        Postuler
      </ion-button>
    </div>
  </form>
</ion-content>
