<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="navCtrl.lastNavId === 1"></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input clearInput required formControlName="email"></ion-input>
      </ion-item>
  
      <div *ngIf="loginForm.controls.email.touched && loginForm.controls.email.status == 'INVALID'">
        <div *ngIf="loginForm.controls.email.errors.required">
          <ion-text color="danger">
            <small>
              Email requis
            </small>
          </ion-text>
        </div>
      </div>

      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input type="password" clearInput required formControlName="password"></ion-input>
      </ion-item>
  
      <div *ngIf="loginForm.controls.password.touched && loginForm.controls.password.status == 'INVALID'">
        <div *ngIf="loginForm.controls.password.errors.required">
          <ion-text color="danger">
            <small>
              Mot de passe requis
            </small>
          </ion-text>
        </div>
      </div>
    
      <div class="ion-text-center ion-margin-top">
        <ion-button type="submit" [disabled]="!loginForm.valid">
          <ion-icon name="send" class="ion-margin-end"></ion-icon>
          Connexion
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
