<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      CockTales
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navSettings()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="danger">3</ion-badge>
      </ion-button>
      <ion-button (click)="navSettings()">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <h1><ion-icon name="wine" color="medium"></ion-icon> CockTales</h1>
    <p><ion-text color="dark">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut dui ornare, venenatis nunc non, vehicula neque. Proin ornare aliquam justo, id laoreet felis interdum a. Donec sagittis ante et libero vulputate malesuada. Nullam porttitor id nulla non mattis. Nam porttitor, lacus ut tempus dictum, velit est lobortis nunc, non efficitur nisi ante ut nulla. Aliquam erat volutpat. Donec eget volutpat metus. Maecenas in nisl arcu. Sed turpis nulla, blandit vel accumsan vel, mattis ut nulla. Sed gravida nisl mauris, at accumsan justo auctor a. Mauris ac elit nec ante rutrum consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id molestie dui. Proin dictum quis augue vel semper. Vivamus sit amet lobortis lectus.
    </ion-text></p>
  </div>
  
  <ion-row *ngIf="!userSrvc.user">
    <ion-col class="ion-text-center">
      <ion-button (click)="navLogin()">Connexion</ion-button>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-button (click)="navRegister()">Inscription</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
