<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="navCtrl.lastNavId === 1"></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Etablissements</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar #input
    placeholder="Nom"
    animated
    autocomplete="on"
    showCancelButton="focus"
    (ionChange)="onCompanyChange(input.value)"
    (ionCancel)="onCompanyCancel()"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Rafraichir"
      refreshingSpinner="circles"
      refreshingText="Refresh...">
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-list>
    <ion-item *ngFor="let company of companies" (click)="navCompanyDetail(company.id)">
      <ion-avatar slot="start">
        <ion-img *ngIf="company.image && company.image.startsWith('http')" [src]="company.image"></ion-img>
        <ion-img *ngIf="company.image && !company.image.startsWith('http')" src="/assets/company/profile/{{ company.image }}"></ion-img>    
      </ion-avatar>
      <ion-label>
        <ion-text color="primary"><h2>{{ company.name }}</h2></ion-text>
        <ion-text><p>{{ company.description }}</p></ion-text>
      </ion-label>
      <ion-icon name="arrow-round-forward" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
